* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: #fff;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  gap: 1em;
  justify-content: center;
  height: 100px;
  padding: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff7b5a;
  color: #000;
  font-size: 16px;
  font-family: "comic sans ms";
  border: none;
  border-radius: 14px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #008000;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-family: "comic sans ms";
  font-size: 20px;
}

#preloader {
  display: none;
}

#preloader.active {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #cccccc;
  border-top-color: #1a1a1a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div#posts-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.post > img {
  border: 4px solid #000;
  border-radius: 20px;
  overflow: hidden;
}
